.base-button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0.5rem 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  user-select: none;
  transition: all 0.125s;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
  margin: 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  color: var(--color-emphasis-low);
  background: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: -0.25px;
  white-space: nowrap;
  transition: all 0.125s;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.button:focus,
.button:hover {
  background: var(--color-dim);
  color: var(--color-primary-contrast);
}

.button.button-primary {
  background: var(--color-primary);
  color: var(--color-primary-contrast);
  box-shadow: var(--shadow-raised);
}

.button.button.button-primary:disabled {
  background: var(--color-dim);
  box-shadow: none;
  cursor: default;
}

.button.button-primary:focus,
.button.button-primary:hover {
  background: var(--color-primary-dim);
  color: var(--color-primary-contrast);
  box-shadow: var(--shadow-raised);
}

.button.icon-button { 
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  line-height: 1;
  border-radius: 50%; 
}

.button.button.icon-button:focus, 
.button.button.icon-button:hover {
  background: var(--color-interactive-highlight);
  color: var(--color-primary); 
  box-shadow: none;
}

.button.button.icon-button.small {
  width: 1.5rem;
  height: 1.5rem;
}

.button.button.icon-button.extra-small {
  width: 1rem;
  height: 1rem;
}

.button.button.icon-button.extra-small .material-icons {
  font-size: 0.8rem;
  line-height: 1rem;
}

.button + .button {
  margin-left: 0.5rem;
}

.button > .material-icons:not(:only-child):first-child {
  margin-right: 0.5rem;
}

.button > .material-icons:not(:only-child):last-child {
  margin-left: 0.5rem;
}
